
/* DEFAULT */


/* SIGN IN PAGE */


/* MY RECIPE PAGE */


/* RECIPE CREATOR PAGE */


/* REGION PAGE */

  /* background */

  h2 {
    color: darkred;
  }

  html {
<<<<<<< HEAD
    background: url("../images/background13.jpeg") no-repeat center center fixed;
=======
 
    background: url("../images/fruits.jpg") no-repeat center center fixed;
>>>>>>> 4b34d7dc71c09f8f52fef5c9f4bc9874ec68d2e2
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  /* logo */

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
  }

  /*title image */

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 200px;
  }



