/* IN MULTIPLE PAGES */

    /* A. Background Image */
    /* .container {
        background-image: url('');
        background-color: normal;
        background-blend-mode: screen;
    } */


    /* B. Navigation Bar (except Login page) */


    /* C. Buttons */





/* PAGE 1: Login */

    /* A. Logo-Title */


    /* B. Login Form */





/* PAGE 2: My Homepage */

    /* A.  Title */


    /* B. Search Bar */


    /* C. Ingredients */


    /* D. Measurements */


    /* E. Servings */


    /* F. Directions (Text) */





/* PAGE 3: Region */

    /* A. Map */





/* PAGE 4: Type */

    /* A.  */





/* PAGE 5: Input */
